body {
  background: #eeeeee
}

header {
  height: 759px;
  width: 100%;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-position: 0% 50%;
  background-size: cover;
}

.navbar {
  height: 102px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.nav-title {
  color: #FED136;
  font-size: 1.75em;
  font-family: 'Kaushan Script', cursive;
}

.nav-title:hover {
  cursor: pointer;
}

.menu {
  color: #FFFFFF;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 400px;
  word-spacing: 20px;
  display: none;
}


.menu:hover {
  color: #FEC503;
  cursor: pointer;
}

@media (min-width: 992px) {
  .fa-bars {
    display: none;
  }
  .menu {
    display: initial;
  }
}

